extends layout
block style
  link(rel="stylesheet", href="stylesheets/index.css")
block content
  - function format(d){return d.toISOString().replace(/T/, ' ').replace(/\..+/, '')};
  .messages
    if user && !user.member
      .message.pinned
        h3.message-sender I3B(admin)
        p.message-content
          | hello there! to be able to see who is sending messages and more, you have to become a&nbsp
          a(href='/member') member
          | , the passcode for it is the last 6 characters from&nbsp
          a(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ") this video link!!
        span pinned
    for message in messages
      .message(id=message._id)
        if user &&( user.member || user.username===message.sender)
          h3.message-sender #{message.sender}
        else
          h3.message-sender Anonymous
        p.message-content #{message.content}
        if user && user.member
          span.message-time #{format(message.timestamp)}
        else
          span.message-time Unknown
        if user&&user.member&&( user.username==message.sender ||user.admin)
          a(href="/#{message._id}/delete").message-delete delete
    if !all
      a.view-all(href="/all") view all messages
  if user
    form(action="/new", method="POST").new-message
      input(type="text",name='message',placeholder='Send new message...',autofocus)
      input(type="submit",value='')
